.navbar {
  background-color: #0077C5;
  color: white;
  display: flex;
  justify-content: start;
  padding: 0 20px;
  align-items: center;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-item {
  margin-right: 30px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #005A9C;
}

.nav-item.active {
  font-weight: bold;
  color: #ffffff;
  background-color: #005A9C;
}

/* Media query rules for mobile devices */
@media (max-width: 768px) {
  /* Stack the navigation items vertically */
  .navbar {
    flex-direction: column;
    height: auto;
  }

  /* Change the layout of the nav items */
  .nav-item {
    margin-right: 0;
    margin-bottom: 15px;
  }
}